

<form
  class="form-horizontal"
  autocomplete="off"
  #createFoodForm="ngForm"
  (ngSubmit)="save()"
>
  <abp-modal-header
    [title]="'CreateNewFood' | localize"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="name">
        {{ "Food Item Name" | localize }}
      </label>
      <div class="col-md-9">
        <input
         
          class="form-control"
          name="name"
          id="name"
         
          required
          [(ngModel)]="food.name"
          #nameModel="ngModel"
          #nameEl
        />
        <abp-validation-summary
          [control]="nameModel"
          [controlEl]="nameEl"
        ></abp-validation-summary>
      </div>
    </div>
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="description">
        {{ "Description" | localize }}
      </label>
      <div class="col-md-9">
        <input
          type="text"
          class="form-control"
          name="description"
          id="description"
          maxlength="128"
          required
          [(ngModel)]="food.description"
          #descriptionModel="ngModel"
          #descriptionEl
        />
        <abp-validation-summary
          [control]="descriptionModel"
          [controlEl]="descriptionEl"
        ></abp-validation-summary>
      </div>
    </div>

    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="categoryName">
        {{ "Category Name" | localize }}
      </label>
      <div class="col-md-9">
        <select
          class="form-control"
          name="categoryName"
          id="categoryName" [(ngModel)]="food.categoryId" 
          #categoryNameModel="ngModel">
          <option disabled>Select Category</option>
          <option *ngFor="let category of categories" [ngValue]="category.id">{{category.name}}</option>
                   
      </select>
      
        <abp-validation-summary
          [control]="categoryNameModel"
          
        ></abp-validation-summary>
      </div>
    </div>

    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="price">
        {{ "Price" | localize }}
      </label>
      <div class="col-md-9">
        <input
          type="text"
          class="form-control"
          name="price"
          id="price"
          maxlength="128"
          required
          [(ngModel)]="food.price"
          #priceModel="ngModel"
          #priceEl
        />
        <abp-validation-summary
          [control]="priceModel"
          [controlEl]="priceEl"
        ></abp-validation-summary>
      </div>
    </div>

    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="quantity">
        {{ "Quantity" | localize }}
      </label>
      <div class="col-md-9">
        <input
          type="text"
          class="form-control"
          name="quantity"
          id="quantity"
          maxlength="128"
          required
          [(ngModel)]="food.quantity"
          #quantityModel="ngModel"
          #quantityEl
        />
        <abp-validation-summary
          [control]="quantityModel"
          [controlEl]="quantityEl"
        ></abp-validation-summary>
      </div>
    </div>
   
   
   
    
  </div>
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!createFoodForm.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>

